<div class="clearfix"></div>

{% set user_stats = user | user_stats %}

<div class="following-data">
    <a href="{{ path('following_users', {'user': user.id}) }}">
        <span class="label-stat">
            Siguiendo
        </span>
        <span class="number-stat">
            {{ user_stats.following }}
        </span>
    </a>
</div>

<div class="following-data">
    <a href="{{ path('followed_users', {'user': user.id}) }}">
        <span class="label-stat">
            Seguidores
        </span>
        <span class="number-stat">
            {{ user_stats.followers }}
        </span>
    </a>
</div>

<div class="following-data">
    <a href="{{ path('user_profile', {'user': user.id}) }}">
        <span class="label-stat">
            Publicaciones
        </span>
        <span class="number-stat">
            {{ user_stats.publications }}
        </span>
    </a>
</div>

<div class="following-data">
    <a href="{{ path('user_likes', {'user': user.id}) }}">
        <span class="label-stat">
            Likes
        </span>
        <span class="number-stat">
            {{ user_stats.likes }}
        </span>
    </a>
</div>